.Btn__Home {
  color: #4e71cf;
  font-size: 1.5em;
  text-align: none;
}

.Conteiner__Principal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Conteiner__Titulo {
  align-items: center;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4em 0 0.8em 1em;
  width: 100%;
}
.Conteiner__Btn {
  margin-right: 10%;
  text-align: none;
}
.Conteiner__Btn:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
  text-align: none;
}

.Conteiner__Img {
  align-items: flex-end;
  display: flex;
}

.Descricao__Home {
  font-size: 1.1em;
}

.Imagem {
  height: 550px;
  width: 780px;
}

.navbar-brand {
  color: #4e71cf;
  font-weight: bold;
  text-align: center;
}
.navbar-brand {
  margin-bottom: 0.5%;
}
.navbar-brand:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
  color: #4e71cf;
}
.Titulo__Home {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3.2em;
  font-weight: 800;
}

@media screen and (max-width: 2560px) {
  .Layout__Mobile {
    display: none;
  }
  .Situacao {
    display: none;
  }

  .tableNone {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .Layout__Mobile {
    display: none;
  }
  .Situacao {
    display: none;
  }
  .tableNone {
    display: none;
  }
}
@media screen and (max-width: 1680px) {
  .Layout__Mobile {
    display: none;
  }
  .Situacao {
    display: none;
  }
  .tableNone {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .Layout__Mobile {
    display: none;
  }
  .Situacao {
    display: none;
  }
  .tableNone {
    display: none;
  }
}
@media screen and (max-width: 1349px) {
  .Imagem {
    width: 600px;
  }
  .Layout__Mobile {
    display: none;
  }
  .Situacao {
    display: none;
  }

  .tableNone {
    display: none;
  }

  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: 800;
  }
}
@media screen and (max-width: 1024px) {
  .Conteiner__Principal {
    margin-top: 8%;
  }

  .Imagem {
    width: 540px;
    height: 440px;
  }

  .Layout__Mobile {
    display: none;
  }

  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: 800;
  }
}
@media screen and (max-width: 768px) {
  .Body__Table {
    font-size: 0.7em;
  }
  .btn {
    padding: 0.3em;
    border-radius: 2px;
    font-size: 0.7em;
  }
  .Conteiner__Principal {
    margin-top: 10%;
  }

  .Descricao__Home {
    font-size: 0.85em;
  }
  .Imagem {
    width: 400px;
    height: 300px;
  }

  .Head__Table {
    font-size: 0.78em;
  }
  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.9em;
    font-weight: 800;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .btn {
    border-radius: 2px;
    font-size: 0.48em;
    padding: 0.35em;
    width: 100%;
  }
  .Body__Table {
    font-weight: bold;
    font-size: 0.5em;
  }
  .buttonNone {
    display: flex;
  }
  .Conteiner__Principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .Conteiner__Btn {
    margin-right: 6%;
  }

  .diferente {
    display: none;
  }
  .Descricao__Home {
    font-size: 0.82em;
  }
  .Head__Table {
    font-size: 0.48em;
  }
  .Imagem {
    height: 300px;
    width: 400px;
  }

  .Layout__Mobile {
    display: flex;
  }

  .tableNone {
    display: none;
  }

  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .Body__Table {
    font-weight: bold;
    font-size: 0.4em;
  }
  .Conteiner__Btn {
    margin-right: 5%;
  }
  .Conteiner__Principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .Descricao__Home {
    font-size: 0.82em;
  }
  .Imagem {
    width: 330px;
    height: 180px;
  }
  .Head__Table {
    font-size: 0.4em;
  }
  .tableNone {
    display: none;
  }
  .table {
    margin-right: 1%;
  }

  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .Body__Table {
    font-weight: bold;
    font-size: 0.27em;
  }
  .Conteiner__Btn {
    margin-right: 6%;
  }
  .Conteiner__Principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .Conteiner__Titulo {
    padding-right: 2%;
  }
  .Conteiner__Img {
    align-items: flex-end;
    display: flex;
    margin-right: 5%;
  }
  .Descricao__Home {
    font-size: 0.82em;
  }

  .Imagem {
    width: 330px;
    height: 180px;
  }

  .Titulo__Home {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    width: 100%;
  }
}
